<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="virtual_wall_sensor_gazebo" params="name fov">
  <gazebo>
    <!-- <plugin name="virtual_wall_sensor" filename="libvirtual_wall_sensor.so">
      <fov>${fov}</fov>
    </plugin> -->
  </gazebo>
</xacro:macro>

</robot>
