<launch>
  <arg name="virtual_wall_x" default="0.2"/>
  <arg name="virtual_wall_y" default="-1.2"/>
  <arg name="virtual_wall_yaw" default="1.57"/>

  <include file="$(find ca_gazebo)/launch/create_two_floors_house.launch"/>	
  <include file="$(find ca_gazebo)/launch/spawn_virtual_wall.launch">
    <arg name="x" value="$(arg virtual_wall_x)"/>
    <arg name="y" value="$(arg virtual_wall_y)"/>
    <arg name="yaw" value="$(arg virtual_wall_yaw)"/>
  </include>
</launch>